$color-primary-cyan-light: hsl(176, 50%, 47%);
$color-primary-cyan-dark: hsl(176, 72%, 28%);

$color-black: hsl(0, 0%, 0%);
$color-grey-dark: hsl(0, 0%, 48%);
$color-grey-smoky: hsla(0, 0%, 48%, 0.925);
$color-grey-medium-light: hsl(0, 1%, 83%); // body font, border
$color-white: rgb(255, 255, 255);
$color-grey-very-light: rgb(248, 245, 245);

$font-primary: "Commissioner", sans-serif;

$font-weight-light: 400;
$font-weight-middle: 500;
$font-weight-bold: 700;
